<div class="navbar navbar-inverse">
    <div class="navbar-header">
        <%= link_to image_tag("/backend/assets/images/logo_light.png"), {controller: "main", action: "index"}, {class: "navbar-brand"} %>

        <ul class="nav navbar-nav visible-xs-block">
            <li><a data-toggle="collapse" data-target="#navbar-mobile"><i class="icon-tree5"></i></a></li>
            <li><a class="sidebar-mobile-main-toggle"><i class="icon-paragraph-justify3"></i></a></li>
        </ul>
    </div>

    <div class="navbar-collapse collapse" id="navbar-mobile">
        <ul class="nav navbar-nav">
            <li><a class="sidebar-control sidebar-main-toggle hidden-xs"><i class="icon-paragraph-justify3"></i></a></li>
        </ul>

        <p class="navbar-text"><span class="label bg-success-400">Online</span></p>

        <ul class="nav navbar-nav navbar-right">
            <li class="dropdown language-switch">
                <a class="dropdown-toggle" data-toggle="dropdown">
                    <img src="/backend/assets/images/flags/gb.png" class="position-left" alt="">
                    English
                </a>
            </li>

            <li class="dropdown dropdown-user">
                <a class="dropdown-toggle" data-toggle="dropdown">
                    <img src="/backend/assets/images/logo-cirle.png" alt="">
                    <span>Administrator</span>
                    <i class="caret"></i>
                </a>

                <ul class="dropdown-menu dropdown-menu-right">
                    <li><%= link_to "<i class='icon-user-plus'></i> My profile".html_safe, { controller: "profile", action: "index" } %></li>
                    <li>
						<% if user_signed_in? %>
                            <%= link_to('<i class="icon-switch2"></i> Logout'.html_safe, destroy_user_session_path, :method => :delete) %>
                        <%end%>
					</li>
                </ul>
            </li>
        </ul>
    </div>
</div>