<div class="sidebar-user">
    <div class="category-content">
        <div class="media">
            <a href="#" class="media-left"><img src="/backend/assets/images/logo-vietren.jpg" class="img-circle img-sm" alt=""></a>
            <div class="media-body">
                <span class="media-heading text-semibold">Administrator - VietRen Joint Stock Company</span>
                <div class="text-size-mini text-muted">
                    <i class="icon-pin text-size-small"></i> &nbsp;242 Hightway 9, Dong Ha City, Quang Tri Province
                </div>
            </div>
        </div>
    </div>
</div>