@media (min-width: 1200px) {
    .logo-img {
        height: auto;
        max-width: 34%;
    }
    nav.site-navigation ul li > ul.sub-menu {
        width: 350px;
    }
}
@media screen and (min-width: 767px) {
    .logo-img {
        height: auto;
        max-width: 34%;
    }
}
@media screen and (max-width: 500px) {
    .logo-img {
        height: auto;
        max-width: 34%;
    }
}
.site-footer .about li {
    float: none;
    margin-bottom: 17px;
    width: 50%;
}
.nowrap-ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.position-btn-relative {
    position: relative;
}
.icon-desc {
    color: #000000;
}
body {
    color: #000000;
}
.sidebar a {
    color: #000000;
}
.widget-recent-posts span {
    color: #000000;
}
.color-red {
    color: #ff0000;
}
strong {
    color: #000000;
    font-weight: bold;
}
.tp-caption {
    font-size: 50px !important;
}
.center-screen {
    width: 60%;
    height:300px;
    margin: 0 auto;
    background-color:teal;
}
.form-confirm {
    padding: 40px;
}
.img-flags {
    margin-bottom: 6px;
}
.login-logo {
    border-radius: 50%;
    text-align: center;
    margin: 10px;
    border-style: solid;
    padding: 20px;
    display: inline-block;
}
.nowrap-footer {
    white-space: nowrap;
}
a:hover {
    color: #026cd0 !important;
}
.color-facebook {
    color: #ffffff;
}
.color-google-plus {
    color: #ffffff;
}
.color-pinterest {
    color: #ffffff;
}
.color-youtube {
    color: #fff;
}
.color-facebook:hover {
    color: #000000;
}
.color-google-plus:hover {
    color: #000000;
}
.color-pinterest:hover {
    color: #000000;
}
.color-youtube:hover {
    color: #000000;
}
.filter-dark button.selected {
    color: #026cd0 !important;
}
.post-content p span {
    font-size: 1em !important;
}
.post-content p {
    font-size: 1.2em !important;
}
.post-content img {
    margin-bottom: 5px;
}
.icon .icon-desc {
    font-size: 1.1em !important;
}
.color-black {
    color: black;
}

/***
 * Page Numbers
 */
ul.pagination {
  list-style: none;
  margin-top: 45px;
  padding: 0; }
  ul.pagination > li {
    display: inline-block;
    text-align: center;
    overflow: hidden; }
    ul.pagination > li + li {
      margin-left: 4px; }
    ul.pagination > li > * {
      background-color: #dedede;
      border-radius: 3px;
      color: #afafaf;
      display: block;
      padding: 6px;
      width: 32px; }
      ul.pagination > li > *.prev, ul.pagination > li > *.next {
        padding-left: 14px;
        padding-right: 14px;
        width: auto; }
    ul.pagination > li .prev .fa {
      margin-right: 5px; }
    ul.pagination > li .next .fa {
      margin-left: 5px; }
    ul.pagination > li.disabled {
        display: none;
    }
    ul.pagination > li > *:hover,
    ul.pagination > li > *:focus,
    ul.pagination > li.active > span {
      background-color: #fab702;
      color: #fff; }
.btn {
    background-color: #138dff;
}
.post-meta i {
    color: #138dff;
}
.icon-media {
    color: #138dff;
}
a {
    color: #138dff;
}
.btn.btn-gradient:hover,
.btn.btn-gradient:focus {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.1), transparent 18px), #fab702;
}
.important {
    color: #138dff !important;
}
.btn.btn-gradient {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.1), transparent 18px), #138dff;
    color: #fff;
}
.bg-primary {
    background-color: #138dff !important;
}
table.table > tbody.bg-primary tr, table.table > tbody tr.bg-primary, table.table > thead.bg-primary tr, table.table > thead tr.bg-primary, table.table > tfoot.bg-primary tr, table.table > tfoot tr.bg-primary {
    background: #138dff;
}
::selection {
    background-color: #138dff !important;
}
ul.pagination > li.active > span {
    background-color: #138dff;
}
.info-table-icon {
    color: #138dff !important;
}
.owl-nav > span {
    color: #138dff !important;
}
.title:after {
    background-color: #138dff !important;
}
.site-footer .widget-title:after {
    background-color: #138dff !important;
}
/*.table-organization table td.table {
    width: 0%;
    padding: 5px;
    padding-bottom: 0px;
}
.table-organization table td p {
    margin: 3px 0 3px;
}
.table-organization table td.table1 {
    width: 6%;
    padding: 5px;
}*/
.post-single table td {
    width: 0%;
    padding: 5px;
    padding-bottom: 0px;
    font-size: 12px;
}
.post-single table td p {
    margin: 3px 0 3px;
}
.post-single table td p span, .post-single table td p strong {
    font-size: 13px;
}