@media (min-width: 1200px) {
    .logo-img {
        height: auto;
        max-width: 34%;
    }
    nav.site-navigation ul li > ul.sub-menu {
        width: 240px;
    }
}
@media screen and (min-width: 767px) {
    .logo-img {
        height: auto;
        max-width: 34%;
    }
}
@media screen and (max-width: 500px) {
    .logo-img {
        height: auto;
        max-width: 34%;
    }
}
.site-footer .about li {
    float: none;
    margin-bottom: 17px;
    width: 50%;
}
.nowrap-ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.position-btn-relative {
    position: relative;
}
.icon-desc {
    color: #000000;
}
body {
    color: #000000;
}
.sidebar a {
    color: #000000;
}
.widget-recent-posts span {
    color: #000000;
}
.color-red {
    color: #ff0000;
}