@media (min-width: 1200px) {
    .logo-img {
        height: auto;
        max-width: 34%;
    }
    nav.site-navigation ul li > ul.sub-menu {
        width: 240px;
    }
}
@media screen and (min-width: 767px) {
    .logo-img {
        height: auto;
        max-width: 34%;
    }
}
@media screen and (max-width: 500px) {
    .logo-img {
        height: auto;
        max-width: 34%;
    }
}
.site-footer .about li {
    float: none;
    margin-bottom: 17px;
    width: 50%;
}