<div class="container">
  <div class="row">
     <div class="col-md-3">
           <!-- Text Widget -->
           <div class="widget widget-nav-menu">
              <h3 class="widget-title">Giới thiệu</h3>
              <ul class="menu">
                 <li><a href="#">Về chúng tôi</a></li>
                 <li><a href="#">Cơ cấu tổ chức</a></li>
                 <li><a href="#">Tài chính</a></li>
                 <li><a href="#">Thành tích đạt được</a></li>
              </ul>
           </div>
           <!-- /Text Widget -->
        </div>
        <div class="col-md-3">
           <!-- Navigation Widget -->
           <div class="widget widget-nav-menu">
              <h3 class="widget-title">Navigation</h3>
              <ul class="menu">
                 <li class="current-page"><a href="#">Trang chủ</a></li>
                 <li><a href="#">Công trình</a></li>
                 <li><a href="#">Công nghệ thiết bị</a></li>
                 <li><a href="#">Thông báo</a></li>
                 <li><a href="#">Tin tức</a></li>
                 <li><a href="#">Thư viện ảnh</a></li>
                 <li><a href="#">Tuyển dụng</a></li>
                 <li><a href="#">Liên hệ</a></li>
              </ul>
           </div>
           <!-- /Navigation Widget -->
        </div>
        <div class="col-md-3">
           <!-- Contact Info Widget -->
           <div class="widget widget-contact-info">
              <h3 class="widget-title">Địa chỉ</h3>
              <ul class="contact-info">
                 <li><i class="fa fa-map-marker"></i> 242 QL 9 - Đông Hà - Quảng Trị</li>
                 <li><i class="fa fa-phone"></i> <a href="#" class="important">053.3850.222</a></li>
                 <li><i class="fa fa-envelope"></i> <a href="mailto:vrc@vnn.vn">vrc@vnn.vn</a></li>
              </ul>
           </div>
           <!-- /Contact Info Widget -->
        </div>
        <div class="col-md-3">
           <!-- Text Widget -->
           <div class="widget widget-text">
              <h3 class="widget-title">Working Hours</h3>
              <p>Visit us at our HQ for a mean cup of coffe and a fantastic consulting team.</p>
           </div>
           <!-- /Text Widget -->
           <!-- Working Hours Widget -->
           <div class="widget">
              <table class="working-hours">
                 <tbody>
                    <tr>
                       <th>Monday > Friday:</th>
                       <td>9am > 5pm</td>
                    </tr>
                    <tr>
                       <th>Saturday:</th>
                       <td>9am > 1pm</td>
                    </tr>
                    <tr>
                       <th>Sunday:</th>
                       <td>Closed</td>
                    </tr>
                 </tbody>
              </table>
           </div>
           <!-- /Working Hours Widget -->
        </div>
  </div>
</div>
<!-- Copyright Footer -->
<div class="copyright-footer">
  <div class="container">
     <div class="row">
        <div class="col-md-6">
           <!-- Text Widget -->
           <div class="widget widget-text">
              <p>Copyright © 2016 Công ty CP Việt Ren - Developed by <a href="hoangkhang.com.vn" target="_blank">Hoàng Khang Incotech</a></p>
           </div>
           <!-- /Text Widget -->
        </div>
        <div class="col-md-6 text-right">
           <!-- Social Widget -->
           <div class="widget widget-social">
              <ul class="social">
                 <li><a href="https://twitter.com/anpsthemes"><i class="fa fa-twitter"></i></a></li>
                 <li><a href="https://www.facebook.com/anpsthemes"><i class="fa fa-facebook"></i></a></li>
                 <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                 <li><a href="https://profiles.wordpress.org/anpsthemes/"><i class="fa fa-wordpress"></i></a></li>
              </ul>
           </div>
           <!-- /Social Widget -->
        </div>
     </div>
  </div>
</div>
<!-- /Copyright Footer -->