<% if params[:locale] == "en" %>
  <%= form_tag({controller: "confirm_download", action: "index"}, method: "post", class: "form-horizontal center-screen") do %>
    <h3 style="padding: 10px;">DOWNLOAD</h3>
    <div class="form-confirm">
      <div class="form-group">
        <label class="control-label col-sm-2" for="password-confirm">Password:</label>
        <div class="col-sm-9">          
          <input type="password" class="form-control" id="password-confirm" name="password_confirm" placeholder="Input password.....">
        </div>
      </div>
      <div class="form-group">        
        <div class="col-sm-offset-2 col-sm-12">
          <button type="submit" class="btn btn-default">Confirm</button>
        </div>
      </div>
    </div>
  <% end %>
<% else %>
  <%= form_tag({controller: "confirm_download", action: "index"}, method: "post", class: "form-horizontal center-screen") do %>
    <h3 style="padding: 10px;">TẢI XUỐNG</h3>
    <div class="form-confirm">
      <div class="form-group">
        <label class="control-label col-sm-2" for="password-confirm">Mật khẩu:</label>
        <div class="col-sm-9">          
          <input type="password" class="form-control" id="password-confirm" name="password_confirm" placeholder="Nhập mật khẩu.....">
        </div>
      </div>
      <div class="form-group">        
        <div class="col-sm-offset-2 col-sm-12">
          <button type="submit" class="btn btn-default">Xác nhận</button>
        </div>
      </div>
    </div>
  <% end %>
<% end %>